title: TeraQuist
description: TeraQuist
url: "https://teraquist.com"
baseurl: ""
markdown: kramdown
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
defaults:
  - scope:
      path: ""
    values:
      layout: default
